@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, #FF9797 0%, #0F0068 100%), linear-gradient(245deg, #A8FFE5 0%, #0500FF 100%), radial-gradient(100% 225% at 100% 0%, #FF003D 0%, #000000 100%), radial-gradient(90% 160% at 0% 100%, #E42C64 0%, #E42C64 30%, #614AD3 calc(30% + 1px), #614AD3 60%, #2D248A calc(60% + 1px), #2D248A 70%, #121B74 calc(70% + 1px), #121B74 100%), linear-gradient(100deg, #48466F 9%, #48466D 35%, #3D84A8 calc(35% + 1px), #3D84A8 65%, #46CDCF calc(65% + 1px), #46CDCF 70%, #ABEDD8 calc(70% + 1px), #ABEDD8 100%);
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    font-family: 'Poppins', sans-serif;
}
.inp{
    padding: 0.5rem 2rem;
    margin-bottom: 1.25em;
    font-size: 1rem;
    outline: none;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: inherit;

}
::placeholder{
    color: white;
    opacity: 0.75;
}
.button{
    padding: 0.5rem 6.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    background: white;
    border: 1px solid white;
    color: #0066FF;
    font-family: inherit;
    font-weight: bold;
}
p{
    color: white;
}
p a{
    color: black;
}