@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #7ed6df;  
    background: -webkit-linear-gradient(to right, #4834d4, #7ed6df);  
    background: linear-gradient(to right, #4834d4, #7ed6df);
    font-family: 'Poppins', sans-serif;
}
.inp{
    padding: 0.5rem 2rem;
    margin-bottom: 1.25em;
    font-size: 1rem;
    outline: none;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: inherit;

}
::placeholder{
    color: white;
    opacity: 0.75;
}
.button{
    padding: 0.5rem 6.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    background: white;
    border: 1px solid white;
    color: #4834d4;
    font-family: inherit;
    font-weight: bold;
}
.account-status{
    color: white;
}
.account-status a{
    color: black;
}