@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.bank-main{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: min-content;
    height: 100%;
    padding: 2.5% 10%;
    margin:0;
    background: #F3F3F3;
    font-size: 1rem;
}
.welcome-header{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-sign-out-alt{
    color:#eb4d4b;
}
.balance{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    padding: 0;
    margin:0;
    padding: 1rem 0;
    
}
.balance__label{
    font-size: 1.5rem;
}
.balance__value{
    margin-left: auto;
    font-size: 3rem;
}
.movements{
    overflow: scroll;
    height: 97vh;
}
.movements__row{
    display: flex;
    align-items: center;
    padding: 0;
    margin:0;
    background: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid black;
    
}
.movements__type{
    padding: 0 0.5rem;
    width: 105px;
    text-align: center;
    border-radius: 5rem;
    color: #fff;
}
.movements__type--deposit{
    background-image: linear-gradient(to top left, #6ab04c, #badc58);
}
.movements__type--withdrawal{
    background-image: linear-gradient(to top left, #eb4d4b, #ff7979);
}
.movements__date{
    margin-left: 3rem;
}
.movements__value{
    margin-left: auto;
    font-size: 1.2rem;
    text-align: right;
}
.summary{
    display: flex;
    justify-content: space-between;
}
.summary_label{
    margin-right: 1rem;
}
.summary_value{
    font-size: 2rem;
    color: #6ab04c;
}
.summary_value_out{
    color: #eb4d4b;
}
.summary div{
    display: flex;
    align-items: center;
}